html {
    background-color: rgb(255, 217, 168);
}
header {
    background-color: rgb(240, 215, 183);
    padding: 50px;
    overflow: hidden;
}
.merge {
    border: 1px solid black;
    background: #000;
}
.merge img {
    width: 800px; height: 341px;
}
.merge {
    width:3200px;
    transform: translateX(-800px);
    animation-name:slider;
	animation-duration:10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes slider {
    0% { transform: translateX(0px); }
    20% { transform: translateX(0px); }
    25% { transform: translateX(800px); }
    45% { transform: translateX(800px); }
    50% { transform: translateX(1600px); }
	70% { transform: translateX(1600px); }
	75% { transform: translateX(2400px); }
	95% { transform: translateX(2400px); }
	100% { transform: translateX(0px);  }
}
body {
    margin: 1;
}
h1 {
    display: inline;
    margin-left: 20px;
}
nav {
    float: right;
}
.ul{
    display: flex;
    list-style: none;
}
.logo {
    margin-right: auto;
}
.dct {
    padding: 0 10px;
    font-size: 1.4em;
}
.decouverte {
    margin-top: 0px;
    text-align: center;
    font-style: italic;
    background-image: url(https://www.superprof.fr/blog/file/2017/12/choisir-paysage-photo.jpg);
    background-size: 100% auto;
    height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
}

#decouverte{
    font-size: 3em;
    margin-top: 100px;
    padding-top: 100px;
    font-style: italic;
    text-align: center;
    
}
.bouton {
    border: 100px;
}
.wawa {
    display: inline-block;
    width: 23%;
    margin-left: 100px;  
}
article> img {
	width: 200px;
	height: 200px;
}

.wa {
float: top;

}
.wo {
    float: top;
    }
.wi {
float: top;
}
.appli {
    display: inline;
    margin-left: 10%;
    margin-right: 5%;

}

    